<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱玩派项目展区</title>
<link href="../css/awpH5GameShow_css.css" type="text/css" rel="stylesheet" media="all"/>
<style type="text/css">
* { margin:0; padding:0; }
body { font:12px "微软雅黑"; }
a { text-decoration:none; }
img { border:none; }
.fl { float:left; }
.fr { float:right; }
ul { list-style-type:none; }
.clear { clear:both; font-size:0px; height:0px; }
input:focus{outline:0;}
</style>
<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
<script src="http://cdn.aiwanpai.com/s/hdp-2.2.4.min.js"></script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/jquery.tmpl.js"></script>
<script src="../js/as.js"></script>
<script src="../js/awpH5GameShow_js.js"></script>
</head>

<body>
<div class="wrapper">
	<div class="topNav page_header firstHeader">
    	<a href="../index.html" class="fl pt14"><img src="../images/awpIcon.png" width="135" height="39" alt="" style="cursor:pointer"/></a>
        <a href="javascript:void(0);" class="fr pt18"><img src="../images/login.png" width="66" height="32" alt="登录" style="cursor:pointer"/></a><span>|</span>
        <a href="javascript:void(0);" class="fr txt">注册</a>
        <p class="clear"></p>
    </div>
    <div class="topNavBlack header page_header secondHeader">
    	<div class="topBlackNav">
        <a href="../index.html" class="fl pt14"><img src="../images/awpBIcon.png" width="135" height="39" alt="" style="cursor:pointer"/></a>
        <div class="fl" id="topNav_a">
        	<!--<a href="javascript:void(0);" class="fl mg28">最新</a>
        	<a href="javascript:void(0);" class="fl mg28">阅读</a>
        	<a href="javascript:void(0);" class="fl mg28">推荐</a>
        	<a href="javascript:void(0);" class="fl mg28">场景</a>
        	<a href="javascript:void(0);" class="fl mg28">玩法</a>
        	<a href="javascript:void(0);" class="fl mg28">行业</a>
            -->
        </div>
        <script id="topNav_a_js" type="text/x-jquery-tmpl">
			<a href="javascript:void(0);" class="fl mg28" id=${id}>${group_name}</a>
		</script>
        <a href="javascript:void(0);" class="fr pt18"><img src="../images/login.png" width="66" height="32" alt="登录" style="cursor:pointer"/></a><span>|</span>
        <a href="javascript:void(0);" class="fr txt">注册</a>
        <form class="seek fr" name="seek" method="post" action="javascript:void(0);" onsubmit="return on_submit()">
			<input type="text" name="userName" value="搜索你喜欢的" class="seekText" onfocus="if (value =='搜索你喜欢的'){value =''}" onblur="if (value ==''){value='搜索你喜欢的';}" />
            <a href="javascript:void(0);" class="fr"><img src="../images/seek2Btn.png" width="35" height="28" alt="" style="cursor:pointer" /></a>
		</form>
        </div>
    </div>
</div>
<div class="contentIntroduce" id="contentIntroduce">
	
</div>
<script id="caseProjectParam_js" type="text/x-jquery-tmpl">
    <p class="txtTitle">案例内容介绍</p>
    <p class="gameTitleName">${activity_name}</p>
    <p class="wire"></p> 
    <div class="gameImg">
		{{each(i) img_url}}
			{{if img_url[i] != "" && i < 3}}
				<img class="ml15" src={{= img_url[i]}} width="285px" height="458px" />
			{{/if}}
    	{{/each}}
		<div class="qrcode ml15 fr">
			<ul>
				<li>${"客户："+clientele}</li>
				<li>${"玩法："+play}</li>
				<li>${"目的："+purpose}</li>
				<li>${"简介："+description}</li>
			</ul>
			<img class="ewpng" src=${"http://www.wxpai.cn/hdpai/white/qrcode_creator.php?data="+qrcode_url} width="194px" height="193px" />
			<p class="pat444">扫码玩一下吧</p>
		</div>
    </div>
    <div class="like">
    	<a href="javascript:void(0);"><img src=${likeBg} width="97" height="97" alt="点赞" style="cursor:pointer" /></a>
        <p>${praise_count}</p>
    </div>
</script>

<div class="comment">
	<div class="commentContent">
    	<p class="commentTitle">案例评论内容</p>
        <p class="membercCmment">会员评论</p>
        <textarea type="text" value="我要发表评论！" class="commentBoxInput" onFocus="if (value =='我要发表评论！'){value =''}" onBlur="if (value ==''){value='我要发表评论！';}" ></textarea>
        <a href="javascript:void(0);" ><img class="mt13" src="../images/comment.png" width="1198" height="62" alt="" style="cursor:pointer"/></a>
        <div class="userComment">
        	<ui>
            	<li>
                	<div class="recListLeft">
                    	<a href="javascript:void(0);" class="fl"><img class="headPortrait" src="../images/headPortrait.png" width="60" height="60"/></a>
                        <div class="recDes">
                        	<a href="javascript:void(0);" class="uesName">love潮流</a>
                            <span>12小时前</span>
                            <p class="recBox">内容内容内容太内容内容内容太内容内容内容太内容内容内容太内容内容内容太内容内容内容太内容内容内容太内容内容内容太内容内容内容太内容内容内容太内容内容内容太内容内容内容太</p>
                            <div class="reply">
                            	<a href="javascript:void(0);">回复</a>
                                <span>|</span>
                                <a href="javascript:void(0);">赞同</a>
                                <span>(0)</span>
                            </div>
                    	</div>
                    </div>
                </li>
                <li>
                	<div class="recListLeft">
                    	<a href="javascript:void(0);" class="fl"><img class="headPortrait" src="../images/headPortrait.png" width="60" height="60"/></a>
                        <div class="recDes">
                        	<a href="javascript:void(0);" class="uesName">love潮流</a>
                            <span>12小时前</span>
                            <p class="recBox">内容内容内容太</p>
                            <div class="reply">
                            	<a href="javascript:void(0);">回复</a>
                                <span>|</span>
                                <a href="javascript:void(0);">赞同</a>
                                <span>(0)</span>
                            </div>
                    	</div>
                    </div>
                </li>
                <li>
                	<div class="recListLeft">
                    	<a href="javascript:void(0);" class="fl"><img class="headPortrait" src="../images/headPortrait.png" width="60" height="60"/></a>
                        <div class="recDes">
                        	<a href="javascript:void(0);" class="uesName">love潮流</a>
                            <span>12小时前</span>
                            <p class="recBox">内容内容内容太</p>
                            <div class="reply">
                            	<a href="javascript:void(0);">回复</a>
                                <span>|</span>
                                <a href="javascript:void(0);">赞同</a>
                                <span>(0)</span>
                            </div>
                    	</div>
                    </div>
                </li>
            </ui>
        </div>
    </div>
</div>

<script id="row_js" type="text/x-jquery-tmpl">
		{{each(i,gameData) gameDatas}}
		{{if i < 3}}
        	<div class="element fl" id=${gameData.id}>
				
            	<img src={{= gameData.banner_img}} width="380" height="286" elementId=${gameData.id} caseUrl=${caseUrl} />
				
                <div class="gameName">
                	<span class="fl">${gameData.activity_name}</span>
                    <img class="fr" src=${arrowIcon} width="18" height="17" elementId=${gameData.id} caseUrl=${caseUrl} />
                </div>
                <p class="clear"></p>
                <div class="gameInfo">
                	<p class="fl pl">${firmName}</p>
                    <p class="fl pl">${gameData.create_time}</p>
                    <p class="fr pr">${"点赞"+ gameData.praise_count}</p>
                    <p class="fr pr">${"评论"+ gameData.comment_count}</p>
                    <p class="fr pr">${"浏览"+ gameData.scan_count}</p>
                </div>
            </div>
		{{/if}}
		{{/each}}
		<p class="clear"></p>
</script>
<div class="recommend">
	<p class="caseTxt">相关案例推荐</p>
    <div class="row" id="recommend_row">
    		<!--
        	<div class="element">
            	<img src="../images/game/1.png" width="380" height="286"/>
                <div class="gameName">
                	<span class="fl">美的：超级夜宴</span>
                    <img class="fr" src="../images/arrows.png" width="18" height="17"/>
                </div>
                <p class="clear"></p>
                <div class="gameInfo">
                	<p class="fl pl">by 爱玩派</p>
                    <p class="fl pl">2016-05-26</p>
                    <p class="fr pr">点赞 8</p>
                    <p class="fr pr">评论 12</p>
                    <p class="fr pr">浏览 123</p>
                </div>
            </div>
            <div class="element">
            	<img src="../images/game/2.png" width="380" height="286"/>
                <div class="gameName">
                	<span class="fl">美的：超级夜宴</span>
                    <img class="fr" src="../images/arrows.png" width="18" height="17"/>
                </div>
                <p class="clear"></p>
                <div class="gameInfo">
                	<p class="fl pl">by 爱玩派</p>
                    <p class="fl pl">2016-05-26</p>
                    <p class="fr pr">点赞 8</p>
                    <p class="fr pr">评论 12</p>
                    <p class="fr pr">浏览 123</p>
                </div>
            </div>
            <div class="element">
            	<img src="../images/game/3.png" width="380" height="286"/>
                <div class="gameName">
                	<span class="fl">美的：超级夜宴</span>
                    <img class="fr" src="../images/arrows.png" width="18" height="17"/>
                </div>
                <p class="clear"></p>
                <div class="gameInfo">
                	<p class="fl pl">by 爱玩派</p>
                    <p class="fl pl">2016-05-26</p>
                    <p class="fr pr">点赞 8</p>
                    <p class="fr pr">评论 12</p>
                    <p class="fr pr">浏览 123</p>
                </div>
            </div>
            <p class="clear"></p>
            -->
        </div>
    <div class="returnTop">
    	<a href="#" ><img class="fr" src="../images/top.png" width="56" height="56"/></a>
    </div>
    <p class="clear"></p>
</div>
<div class="footer">
	<div class="footerContent">
    	<div class="fl1 fl">
        	<a href="javascript:void(0);" class="awp"><img src="../images/awpBIcon.png" width="135" height="39"/></a>
        	<p class="awptxt">爱 玩 派 案 例 分 享 平 台</p>
        </div>
    	<div class="fl2 fl">
        	<a href="javascript:void(0);" class="awp1">关于爱玩派</a>
        	<a href="javascript:void(0);" class="awp2">更多精彩内容</a>
        	<a href="javascript:void(0);" class="awp3">关注爱玩派</a>
        	<a href="javascript:void(0);" class="awp4">联系我们</a>
            <div class="iconLink">
            	<a href="javascript:void(0);" ><img class="fr" src="../images/weibo.png" width="27" height="26"/></a>
                <a href="javascript:void(0);" ><img class="fr" src="../images/weixin.png" width="27" height="26"/></a>
                <a href="javascript:void(0);" ><img class="fr" src="../images/qqIcon.png" width="27" height="26"/></a>
            </div>
        </div>
        <ul class="list fl" style="display:block">
            <li>地址：广州市天河区珠江新城黄埔大道西100号富力盈泰A塔13A层、7层</li>
            <li>电话：020-38891740/41/46</li>
            <li>邮箱：partner@hudongpai.com</li>
            <li>hr@hudongpai.com paijun@hudongpai.com</li>
       	</ul>
    </div>
</div>
<div class="bottom">
	<p class="bottomTxt">版权所有 广州互动派传媒科技股份有限公司Copyright 2003-2010 www.aiwanpai.com All Rights Reserved 粤ICP备11067188号-6</p>
</div>
</body>
</html>
